{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- Jakieś dane -->
    <title>Prywatna Chmura - Login</title>    
    <meta name="author" content="JedynyTakiPsiak">
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="pl">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="`JedynyTakiPsiak`, `Psiak`" />
    <meta name="description" content="Prywatna baza danych ~ by JedynyTakiPsiak" />
    <meta name="robots" content="index,follow" />
    <meta property="og:site_name" content="Smyf.pl">
    <meta property="og:title" content="Prywatna baza danych ~ by JedynyTakiPsiak" />
    <meta property="og:type" content="website">   
    <meta property="og:url" content="https://www.smyf.pl/chmura">
    <meta property="og:description" content="Prywatna baza danych ~ by JedynyTakiPsiak" />
    <meta property="og:locale" content="pl_PL" />
    <meta property="og:ttl" content="604800" />
    
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#648DDD">
    <meta name="theme-color" content="#648DDD">
    <meta name="msapplication-navbutton-color" content="#648DDD">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- CSS PLIKI -->
    <link rel="stylesheet" href="{% static "main.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "assets/checkbox.css" %}" type="text/css">

    <!-- JAVASCRIPT -->
    <script src="{% static "assets/background-changer.js" %}"></script>

    <!-- sweetalert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<body>
    <!-- free background image: https://www.freepik.com -->
    <div class="custom-background"></div>



</body>
</html>